/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* global */
#page {
    padding: 12px;
    background-color: black;
    max-width: $max-width-mobile;
    margin: 0 auto;
}

body {
    font-family: 'Exo';
    font-size: 16px;
    a:link {
        text-decoration: none;
      }

      a:link {
        color: $color-brand;
      }

      a:visited {
        color: $color-brand;
      }
      

      a:hover, a:active {
        color: $color-brand;
      }
}




/* header */
.site-header{
    
    padding: 48px 0px 48px 0px;
    background-color: green;
    max-width: $max-width-mobile;
.site-branding {
    max-width: $max-width-mobile;
   
    background-color: $color-background;
    .logo {
    img {
        width: 300px;
    }
}
}
}

/* footer */
.site-footer {
    background-color: black;
    height: 600px;
    .main-navigation {
        background-color: black;
        li:nth-child(1) {
            padding-right: 16px;
            border-right: solid;
        }
        li:nth-child(2) {
            background-color: red;
            padding-left: 16px;
            padding-right: 16px;
            border-right: solid;
          }
          li:nth-child(3) {
            background-color: red;
            padding-left: 16px;
          }
    }

}




/* home page */
.content-area {
    max-width: $max-width-mobile;
    background-color: black;
    margin: 0 auto;
}



/* All Archives Page */

.site-main {
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        font-size: 1.5rem;
        padding: 19.92px 0px 19.92px 0px;
    }
    .categories{
        list-style: none;
    }
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            padding-right: 18px;
        }
    }
}

/* Submit a Quote Page */
