/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* global */


body {
    font-family: 'Exo Web';
    font-size: 16px;
    color: #fff;
    a:link {
        text-decoration: none;
      }

      a:link {
        color: $color-brand;
      }

      a:visited {
        color: $color-brand;
      }
      

      a:hover, a:active {
        color: $color-brand;
      }
      padding: 12px;
      background-color: yellow;
      max-width: $max-width-mobile;
      margin: 0 auto;
      @include tablet {
          max-width: $max-width-tablet;
          background-color: red;
      }
      @include desktop {
          max-width: $max-width-desktop;
          background-color: peru;
      }
}




/* header */
.site-header{
    
    padding: 48px 0px 48px 0px;
    background-color: green;
    max-width: $max-width-mobile;
    @include tablet {
        max-width: $max-width-tablet;
        background-color: blue;
    }
    @include desktop {
        max-width: $max-width-desktop;
        background-color: peru;
    }


    
.site-branding {
    max-width: $max-width-mobile;
    background-color: $color-background;
    .logo {
        img {
            width: 300px;
        }  
    }
    @include tablet {
        max-width: $max-width-tablet;
        background-color: red;
    }
    @include desktop {
        max-width: $max-width-desktop;
        background-color: peru;
        .logo{
            max-width: 700px;
            background-color: orchid;
            margin: 0 auto;
            img{
                width: 700px;
            }
        }
    }
    
}

}

/* footer */
.site-footer {
    background-color: green;
    padding-bottom: 200px;
    .main-navigation {
        background-color: black;
        li:nth-child(1) {
            padding-right: 16px;
            border-right: solid;
        }
        li:nth-child(2) {
            background-color: red;
            padding-left: 16px;
            padding-right: 16px;
            border-right: solid;
          }
          li:nth-child(3) {
            background-color: red;
            padding-left: 16px;
          }
          @include desktop {
            max-width: $max-width-desktop;
            background-color: green;
            padding-left: 600px;
            
        }    


    }
   
    
    

}




/* home page */
.content-area {
    max-width: $max-width-mobile;
    background-color: black;
    margin: 0 auto;
    .button-wrapper{
        padding-bottom: 72px;
        button {
            padding: 12px 36px;
            color: $color-brand;
            background-color: black;
            border-width: 2px;
            border-color: $color-brand;
            font-family: 'Exo Web';
        
        }

    }
    @include tablet {
        max-width: $max-width-tablet;
        background-color: red;
    }
    @include desktop {
        max-width: $max-width-desktop;
        background-color: peru;
        q {
            quotes: "“" "”";
           
          }
          .quote-wrapper:before {
              content: open-quote;
              font-size: 25rem;
              position: relative;
              color: $color-brand;
              left: -140px;
              top: -130px;
              height: 0;
              width: 0px;
              
          }
          .quote-wrapper:after {
              content: close-quote;
              font-size: 25rem;
              position: relative;
              color: $color-brand;
              right: -55px;
              top: -130px;
              height: 0;
              width: 0px;
          }
        .quote-wrapper{
            max-width: 650px;
            display: flex;
            margin: 0 auto;
            background-color: green;
            font-size: 2.5rem;
        }
        h2 {
            margin: 0 auto;
            max-width: 650px;
        }
        .button-wrapper {
            max-width: 240px;
            margin: 0 auto;
        button {
            margin: 0 auto;
            font-weight: 800px;
            font-size: 1.1rem;
            max-width: 240px;
        }
        }
    }

    
}



/* All Archives Page */

@include desktop {
    max-width: 650px;
q {
    quotes: "“" "”";
   
  }
  .page-title:before {
      content: open-quote;
      font-size: 25rem;
      position: relative;
      color: $color-brand;
      left: -180px;
      top: -130px;
      height: 0;
      width: 0px;
      
  }
  .page-title:after {
      content: close-quote;
      font-size: 25rem;
      position: relative;
      color: $color-brand;
      right: -520px;
      top: -130px;
      height: 0;
      width: 0px;
  }
}

.page-title{
    margin: 0 auto;
    max-width: 480px;
    display: flex;
    @include tablet {
        max-width: $max-width-tablet;
    }
    @include desktop {
        max-width: 650px;
        font-weight: bold;
       
    }
}
.content-container {
    background-color: black;
    margin: 0 auto;
   
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        font-size: 1.5rem;
        padding: 19.92px 0px 19.92px 0px;
    }
    .categories{
        list-style: none;
    }
    ul {
        list-style: none;
        margin: 0;
        
        li {
            display: inline-block;
            padding-right: 18px;
            font-size: 1.25rem;
        }
    }
    @include tablet {
        max-width: $max-width-tablet;
    }
    @include desktop {
        max-width: 650px;
    }
    
}


/* category page */

.entry-content {
    background-color: black;
    max-width: $max-width-mobile;
    border-top: 1px dashed;
    padding-top: 24px;
    margin: 0 auto;
    color: $color-brand;
    @include tablet {
        max-width: $max-width-tablet;
    }
    @include desktop {
        max-width: 650px;
        font-size: 2.5rem;
    }
    .entry-title {
        padding: 0px;
        @include tablet {
            max-width: $max-width-tablet;
        }
        @include desktop {
            max-width: $max-width-desktop;
            font-size: 1.25rem;
        }
        
}
}



/* 404 page */
.page-title{ 
    font-weight: bold;
}
.page404-content {
   p {
       padding-top: 10px;
   }
   @include desktop {
    max-width: 650px;
    font-size: 1.25rem;
    margin: 0 auto;
}
    .search-form-wrapper {
        padding-bottom: 80px;
        @include desktop {
            max-width: 650px;
            font-size: 1.25rem;
            margin: 0 auto;
        }
    fieldset{
        border-color: $color-brand;
        border-width: 2px;
        padding: 0;
        display: inline;
        .search-field {
            background-color: black;
            border-color: black;
        } 
         }
    .search-submit {
        background-color: black;
        border-color: black;
        .fas { 
            color: $color-brand;
            
        }
    }
    }
}

/* Submit a Quote Page */

.submit-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    
    input[type="text"] { 
        border-color: $color-brand;
        border-width: 2px;
        background-color: black;
        margin: 10px 0 10px 0;
    }
    #submit-quote{
        height: 60px;
        width: 98%;
        border-color: $color-brand;
        background-color: black;
        border-width: 2px;
        margin-top: 10px;
    }
    #submit-button {
        margin-top: 10px;
        background-color: black;
        border-color: $color-brand;
        border-width: 2px;
        color: $color-brand;
        font-family: 'Exo Web';
        font-weight: bold;
        font-size: 16px;
    }
    @include desktop {
        max-width: $max-width-desktop;
        font-size: 1.25rem;
        width: 650px;
        margin: 0 auto;
        #submit-quote{
            height: 80px;
        }
    }
}



/* About page */
.about-title {
    max-width: $max-width-mobile;
    font-size: 2rem;
    font-weight: bold;

    @include desktop {
    max-width: $max-width-desktop;
    background-color: peru;
    max-width: 650px;
    margin: 0 auto; 
}
}
.about-content-container{
    p {
        font-size: 1rem;
    }
    @include desktop {
   
    }
}